 body {
     background-color: rgb(153, 245, 245);
 }
 
 code {
     font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
 }
 
 @media (min-width: 200px) and (max-width: 600px) {
     body {
         background-color: red;
         box-sizing: border-box;
         margin: 0;
         font-family: Verdana, Geneva, Tahoma, sans-serif
     }
 }